<div class="_header _sheetHeader">

    {{>character_background}}
    <div class="_mainHeader">

        <div class="portrait" >
            <img src="{{actor.img}}" 
                    data-edit="img"
                    title="{{actor.name}}"
                    alt="{{actor.name}}"
                    {{#if isEditable}} data-action="editImage" {{/if}}
                    class="actor-portrait">
        </div>
        <div class="_info">

            <input type="text" 
                    class="h4"
                    name="name" 
                    value="{{actor.name}}" 
                    {{{_disabled}}}
                    placeholder="{{localize 'common.nombre'}}"> 
            
            <div class="_grid"> 
                {{>header_Lore}}
            </div>
      
            <div class="_row _gapped _menu">
                <nav class="tabs _expanded" data-group="primary">
                    <a data-action="tab" data-group="primary" data-tab="stats">{{localize 'common.stats'}}</a>
                    <a data-action="tab" data-group="primary" data-tab="combate">{{localize 'common.combate'}}</a>
                    {{#if system.magia.tipo.hechizos}}
                        <a data-action="tab" data-group="primary" data-tab="hechizos">{{localize 'common.hechizos'}}</a>
                    {{/if}}
                    {{#if system.magia.tipo.ensalmos}}
                        <a data-action="tab" data-group="primary" data-tab="ensalmos">{{localize 'common.ensalmos'}}</a>
                    {{/if}}
                    {{#if system.magia.tipo.formulas}}
                        <a data-action="tab" data-group="primary" data-tab="formulas">{{localize 'common.formulas'}}</a>
                    {{/if}}
                    <a data-action="tab" data-group="primary" data-tab="equipo">{{localize 'common.equipo'}}</a>
                </nav>
            </div>
            
        </div>
    </div>
</div>